{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>Fantasy 2k17</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Asap|Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %}" media="screen,projection" rel="stylesheet" type="text/css"> 
</head>
<body style="font-family:'Asap'" class="myfootbg">
      <nav class="black navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/home/" target="_blank" id="logo-container"><b>Fantasy News</b></a>
            <ul class="right hide-on-med-and-down">
                 {% for tour in tournament %}
                <li>
                    <a href="/foottournament/{{tour.id}}/">{{tour.tournament_name}}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="/home/">Home</a>
                </li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                 {% for tour in tournament %}
                <li>
                    <a href="/foottournament/{{tour.id}}/">{{tour.tournament_name}}</a>
                </li>
                {% endfor %}
                  <li>
                    <a href="/home/">Home</a>
                </li>
            </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>


     <nav class="light-blue lighten-1 navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <ul class="">
                {% for tour in tournament %}
                <li>
                    <a href="/foottournament/{{tour.id}}/">{{tour.tournament_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
     </nav>



    <div class="row">
    <div class="col m6 offset-m3">
    <h1 class="center black" style="font-family:Monoton;padding-top:10px;padding-bottom:10px;">Football News</h1>
    </div>
    </div>
    <div class="container">
     <div class="row">
        {%for foot in football%}
        <div class="col s12 m6 center">
          <div class="card black white-text" style="border:solid 1px white">
            <div class="card-image">
              <img src="{{foot.image.url}}" width="100" height="300">
            </div>
            <div class="card-content">
              <h4 style="text-transform:uppercase">{{foot.football_match_name|safe}}</h4>
              <p>{{ foot.tournament.tournament_name|safe}}</p><p>{{ foot.on_date.day|safe }}/{{foot.on_date.month|safe}}/{{ foot.on_date.year|safe }}</p>
            </div>
            <div class="card-action">
              <a class="mybtn btn" href="/football/{{foot.id}}">Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
     {% if not football %}
     <h1>News Coming Soon</h1>
     {% endif %}
    <footer class="grey darken-3" style="z-index:999">
    <div class="footer-copyright" style="padding-top:5px;">
        <div class="container white-text" style=" margin-top:10px;">Fantasy 2k17<a class="white-text text-lighten-3 right">All Rights Reserved. Made by Yellow Inc.</a> </div>
    </div>
</footer>
    <script src="{% static "js/jquery-2.1.4.js" %}">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/materialize.js" %}">
    </script>
    <script src="{% static "js/init.js" %}">
    </script>
   
    <script type='text/javascript' src="{% static "js/mobile.js" %}"></script>
</body>
</html>